@charset "utf-8";
/* CSS Document */
    body{
        background-color: #f2f2f2;
        /*background: url(../images/bg.jpg);*/
    }
	.box1 {
		text-align: center;
		width: 100%;
		margin: 30px auto;
		background-color: #f2f2f2;
		border-radius: 8px;
		padding: 30px;
		overflow: hidden;
		word-break: break-all;
		word-wrap: break-word;
	}
	.box1 a {
		width: 100%;
		display: inline-table;
		margin-bottom: 10px;
		padding: 10px;
		background-color: #00bf00;
		border-color: #00bf00;
	}
	.xhtitle {
		margin-bottom: 20px;
		font-size: 1.2em;
	}
